In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
data = pd.read_csv("diabetes.csv")

In [6]:
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [7]:
from sklearn.preprocessing import MinMaxScaler

In [8]:
mms = MinMaxScaler()

In [11]:
data.iloc[:,0:8] = mms.fit_transform(data.iloc[:,0:8])

In [12]:
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0.352941,0.743719,0.590164,0.353535,0.000000,0.500745,0.234415,0.483333,1
1,0.058824,0.427136,0.540984,0.292929,0.000000,0.396423,0.116567,0.166667,0
2,0.470588,0.919598,0.524590,0.000000,0.000000,0.347243,0.253629,0.183333,1
3,0.058824,0.447236,0.540984,0.232323,0.111111,0.418778,0.038002,0.000000,0
4,0.000000,0.688442,0.327869,0.353535,0.198582,0.642325,0.943638,0.200000,1
...,...,...,...,...,...,...,...,...,...
763,0.588235,0.507538,0.622951,0.484848,0.212766,0.490313,0.039710,0.700000,0
764,0.117647,0.613065,0.573770,0.272727,0.000000,0.548435,0.111870,0.100000,0
765,0.294118,0.608040,0.590164,0.232323,0.132388,0.390462,0.071307,0.150000,0
766,0.058824,0.633166,0.491803,0.000000,0.000000,0.448584,0.115713,0.433333,1
767,0.058824,0.467337,0.573770,0.313131,0.000000,0.453055,0.101196,0.033333,0

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X = data.iloc[:,0:8]

In [15]:
y = data.iloc[:,8:9]

In [20]:
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=0.8,random_state=124)

In [22]:
from sklearn.tree import DecisionTreeClassifier

In [25]:
DTC = DecisionTreeClassifier()

In [26]:
DTC.fit(X_train,y_train)

DecisionTreeClassifier()

In [35]:
pred = DTC.predict(X_test)

In [36]:
pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0],
      dtype=int64)

In [37]:
from sklearn.metrics import confusion_matrix,precision_score,recall_score,r2_score

In [40]:
confusion_matrix(pred,y_test)

array([[79, 22],
       [19, 34]], dtype=int64)

In [41]:
precision_score(pred,y_test)

0.6071428571428571

In [42]:
r2_score(pred,y_test)

-0.17952549971978304

In [43]:
recall_score(pred,y_test)

0.6415094339622641

In [44]:
pd.DataFrame(y_test)

     0
0    0
1    0
2    1
3    0
4    0
..  ..
149  0
150  1
151  1
152  1
153  1

[154 rows x 1 columns]

In [46]:
pd.DataFrame(pred)

     0
0    0
1    0
2    0
3    0
4    0
..  ..
149  0
150  0
151  0
152  0
153  0

[154 rows x 1 columns]

In [51]:
df = pd.read_csv("mushrooms (1).csv")

In [52]:
df

,class,cap-shape,cap-surface,cap-color,bruises,odor,gill-attachment,gill-spacing,gill-size,gill-color,...,stalk-surface-below-ring,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat
0,p,x,s,n,t,p,f,c,n,k,...,s,w,w,p,w,o,p,k,s,u
1,e,x,s,y,t,a,f,c,b,k,...,s,w,w,p,w,o,p,n,n,g
2,e,b,s,w,t,l,f,c,b,n,...,s,w,w,p,w,o,p,n,n,m
3,p,x,y,w,t,p,f,c,n,n,...,s,w,w,p,w,o,p,k,s,u
4,e,x,s,g,f,n,f,w,b,k,...,s,w,w,p,w,o,e,n,a,g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8119,e,k,s,n,f,n,a,c,b,y,...,s,o,o,p,o,o,p,b,c,l
8120,e,x,s,n,f,n,a,c,b,y,...,s,o,o,p,n,o,p,b,v,l
8121,e,f,s,n,f,n,a,c,b,n,...,s,o,o,p,o,o,p,b,c,l
8122,p,k,y,n,f,y,f,c,n,b,...,k,w,w,p,w,o,e,w,v,l
8123,e,x,s,n,f,n,a,c,b,y,...,s,o,o,p,o,o,p,o,c,l

In [92]:
from sklearn.preprocessing import LabelEncoder

In [93]:
LE = LabelEncoder()

In [94]:
y = df.iloc[:,0:1]

In [95]:
X = df.iloc[:,1:]

In [96]:
from sklearn.preprocessing import OrdinalEncoder

In [97]:
OE = OrdinalEncoder()

In [98]:
X1 = OE.fit_transform(X)

In [99]:
y1 = LE.fit_transform(y)

C:\Users\PC-50\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [100]:
X1

array([[5., 2., 4., ..., 2., 3., 5.],
       [5., 2., 9., ..., 3., 2., 1.],
       [0., 2., 8., ..., 3., 2., 3.],
       ...,
       [2., 2., 4., ..., 0., 1., 2.],
       [3., 3., 4., ..., 7., 4., 2.],
       [5., 2., 4., ..., 4., 1., 2.]])

In [101]:
y1

array([1, 0, 0, ..., 0, 1, 0])

In [102]:
X1.shape

(8124, 22)

In [103]:
y1.shape

(8124,)

In [104]:
y1 = y1.reshape(-1,1)

In [105]:
y1

array([[1],
       [0],
       [0],
       ...,
       [0],
       [1],
       [0]])

In [106]:
X1

array([[5., 2., 4., ..., 2., 3., 5.],
       [5., 2., 9., ..., 3., 2., 1.],
       [0., 2., 8., ..., 3., 2., 3.],
       ...,
       [2., 2., 4., ..., 0., 1., 2.],
       [3., 3., 4., ..., 7., 4., 2.],
       [5., 2., 4., ..., 4., 1., 2.]])

In [107]:
from sklearn.model_selection import train_test_split

In [108]:
X_train,X_test,y_train,y_test = train_test_split(X1,y1,train_size=0.8,random_state=256)

In [109]:
from sklearn.tree import DecisionTreeClassifier

In [110]:
dtc = DecisionTreeClassifier()

In [111]:
dtc.fit(X_train,y_train)

DecisionTreeClassifier()

In [112]:
pred = dtc.predict(X_test)

In [113]:
pred

array([0, 1, 0, ..., 1, 1, 1])

In [114]:
from sklearn.metrics import confusion_matrix,precision_score,recall_score,r2_score

In [115]:
confusion_matrix(pred,y_test)

array([[891,   0],
       [  0, 734]], dtype=int64)

In [116]:
precision_score(pred,y_test)

1.0

In [117]:
recall_score(pred,y_test)

1.0